body {
    display: flex;
    justify-content: right;
    align-items: end;
    height: 100vh;
    margin: 0;
    background-color: #222;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.neon-chatbox {
    background-color: #111;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5), 
                0 0 40px rgba(0, 255, 255, 0.3);
    width: 335px;
    height: 550px;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;    
}

.chat-header {
    background-color: #00f;
    color: #fff;
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.messages {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    max-height: 325px;
    font-size: 19px;
}

.message {
    background-color: #00f;
    color: #fff;
    padding: 11px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
    animation: fadeIn 0.3s;
}

.message-input {
    border-radius: 0 0 0 5px;
    font-size: 1em;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.2);
    height: 50px; /* Set height to 100px */
    border: none; /* Ensure no border is applied */
    outline: none; /* Remove outline for better aesthetics */
}
.status-message{
    padding-left: 3px;
    font-size: 14px;
}
.user-info{
    font-size: 10px;
    padding-left: 3px;
}
.sign-out-button{
    display: none;
    background-color: rgba(53, 53, 222, 0.545);
    color: #d7e7fe45;
    cursor: pointer;
}


.forgot-password-button{
    background-color: rgba(53, 53, 222, 0.545);
    color: #d7e7fe45;
    cursor: pointer;
}
.send-button {
    background-color: #00f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 0 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    
}.send-button:disabled {
    background-color: #ccc; /* Light grey background */
    color: #666; /* Dark grey text */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.6; /* Slightly transparent */
}

.send-button:hover {
    background-color: #0ff;
}


.desc-login{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 4px;
    padding-top: 3px;
    padding-bottom: 1px;
    user-select: none; 
}


.hidden {
    display: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
